# Database
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/database_name

# Application
APP_NAME=Music Review API
APP_VERSION=0.1.0
DEBUG=True

# Security
SECRET_KEY=generate-a-secure-random-string