# Database
DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/database_name

# Application
APP_NAME=Music Review API
APP_VERSION=0.1.0
DEBUG=True

# Security
SECRET_KEY=generate-a-secure-random-string

# Spotify
SPOTIFY_CLIENT_ID=e4f69d70c5db4ddea04bdd6a15c5a713
SPOTIFY_CLIENT_SECRET=c33e5e5a22db4d65bef6c68be6f59cab